





@media screen and (min-width: 1020px) { 

    .title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        color: #ffffff !important;
        text-transform: capitalize;
    
    }

    .logo {
        display: flex;
        justify-content: space-between;
        padding: 0px;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    .icon {
        font-size: 22px !important;
    }
    
    .log-itle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20%;
        width: 100%;
    }


    
  
  
  }
  
  @media screen and (min-width: 600px) and (max-width: 1020px) { 
  
    .title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        color: #ffffff !important;
        text-transform: capitalize;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        padding: 0px;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    .icon {
        font-size: 22px !important;
    }
    
    .log-itle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20%;
        width: 100%;
    }
    
  
  
  }
  
  @media screen and  (max-width: 600px) { 
  
    .title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #ffffff !important;
        text-transform: capitalize;
    }
  
    .logo {
        display: flex;
        // justify-content: space-between;
        padding: 0px !important;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    .icon {
        font-size: 14px !important;
    }
    
    .log-itle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 5%;
        width: 100%;
    }
    
  
  }
  
  