.allproducts-row {
    margin: 5px;
}

.filter-row {
    min-width: 100%;
    border-radius: 12px !important;
    background-color: #fff;
    height: 100vh;
    overflow-y: scroll;
    min-height: 100vh;
    padding: 20px 20px;;
   
}


.layout {
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
}

.sider {
    width: 20%;
    overflow-y: scroll;
    height: 100%;
}

.content {
    width: 75%;
}

.pagination{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
}

.pagination-card {
    border-radius: 12px !important;
    padding: 0px 0px !important;
}

.spin-div {
    width: 100%;
    // justify-content: center;
    display: flex;
    height: 100%;
    vertical-align: middle;
    align-content: center;
    margin: 50%;
}