.proddetail-maindiv {
    display: flex;
    width: 100%;
}

.proddetail-imgdiv{
    width: 40%;
}

.proddetail-detdiv {
    width: 60%;
}
.proddetail-imgstyle {
    height: 400px;
    width: auto;

}