


.product-productname {
    font-size: 16px;
    font-weight: 500;
    font-family: Muli;
}

.product-productname:hover {
    font-size: 16px;
    font-weight: 500;
    color: #ff9900;
    font-family: Muli;
}

.info-card {
    display: grid;
}



@media screen and (min-width: 1020px) { 

    .product-cardstyle {
        height: 320px;
        border-radius: 12px !important;
        width: 250px;
    }


    .product-imgstyle {
        height: 200px;
        width: 200px;
        padding-bottom: 10px;
    }
  
  
  }
  
  @media screen and (min-width: 600px) and (max-width: 1020px) { 
  
    .product-cardstyle {
        height: 250px;
        border-radius: 12px !important;
        width: 200px;

    }


    .product-imgstyle {
        height: 150px;
        width: 150px;
        padding-bottom: 10px;
    }
   
  
  
  }
  
  @media screen and  (max-width: 600px) { 
  
    .product-cardstyle {
        height: 250px;
        border-radius: 12px !important;
        width: 200px;

    }

    .product-imgstyle {
        height: 150px;
        width: 150px;
        padding-bottom: 10px;
    }
  }  