.isoStickerWidget {
    width: 100%;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
}

.isoIconWrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 80px;
    flex-shrink: 0;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.isoContentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px 20px;
}

.icon-wrapper {
    font-size: 30px;
}

.isoStatNumber {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #173A72;

}

.isoLabel {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #909090;
}