@import '~antd/dist/antd.less';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e8e8e8;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: #173A72;
  margin: 16px 24px 16px 0;
  float: left;
}

.add-button {
  width: 120px;
  background-color: #173A72 !important;
  color: #fff !important;
  height: 40px !important;
  font-weight: 600 !important;
}


@media screen and (min-width: 1020px) { 

  .site-layout-background {
    padding: 10px 50px !important; 
  }


}

@media screen and (min-width: 600px) and (max-width: 1020px) { 

  .site-layout-background {
    padding: 10px 20px !important;

  }
 
}

@media screen and  (max-width: 600px) { 

  .site-layout-background {
    padding: 10px 10px !important; 

  }

  .ant-layout-header {
    height: 64px;
     padding: 0 5px !important;
    color: rgba(0, 0, 0, 0.65);
    line-height: 64px;
    background: #001529;
}


.ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
  top: 0;
  margin-top: 0;
  padding: 0 5px !important;
  border-color: #001529;
  border-bottom: 0;
}

}


.btn-primary {
  background-color: #001529;
  color: #fff;
  width: 130px;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #ff9900;;
  color: #fff;
  width: 130px;
  font-weight: 500;

}


.mr-10 {
  margin-top: 10px;
}